@import 'variables.module.scss';

.container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	font-size: $normal;
	background-color: $background-color;
	width: 100%;
	height: 100%;

	@media (max-width: $large-devices) {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 0.3fr repeat(6, 1fr);
	}

	.logo {
		height: fit-content;
		margin: 4rem 4rem 12.8rem 15rem;
		grid-area: 1 / 1 / 2 / 4;

		width: 12.5rem;

		@media (max-width: $large-devices) {
			grid-area: 1 / 1 / 2 / 7;
			margin: 4rem;
		}
	}

	.explore {
		grid-area: 2 / 1 / 6 / 4;
		padding: 4rem 5rem 10rem 15rem;
		width: 100%;

		@media (max-width: $large-devices) {
			grid-area: 4 / 1 / 10 / 6;
			padding: 4rem;
		}

		@media (max-width: $mobile) {
			grid-area: 4 / 1 / 8 / 6;
			padding: 4rem 2rem;
		}

		.header {
			width: 70%;
			font-size: $large;
			font-weight: $bold;
			margin-bottom: 0.8rem;
			line-height: 6.1rem;

			@media (max-width: $large-devices) {
				width: 100%;
			}

			@media (max-width: $mobile) {
				width: 100%;
				line-height: 3.8rem;
				font-size: $middle;
			}
		}

		.description {
			width: 70%;
			margin-bottom: 1.6rem;
			color: $primary-font-color;
			line-height: 150%;

			@media (max-width: $large-devices) {
				width: 100%;
			}

			@media (max-width: $mobile) {
				width: 100%;
			}
		}

		.pros {
			li {
				display: flex;
				align-items: center;
				color: $primary-font-color;

				&:not(:last-child) {
					margin-bottom: 1.2rem;
				}
			}

			li::before {
				content: url('../public/svg/checkmark.svg');
				margin-right: 0.8rem;
			}
		}

		button {
			margin: 2.4rem 0;
		}

		.partners {
			p {
				color: $primary-font-color;
			}

			.partnersList {
				display: flex;
			}
		}
	}

	.hero {
		grid-area: 1 / 4 / 6 / 7;
		width: 100%;
		height: 100%;
		background-image: url('../public/images/hero.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		@media (max-width: $large-devices) {
			grid-area: 2 / 1 / 4 / 6;
			background-image: url('../public/images/hero-landscape.jpg');
		}
	}
}
